// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #222222;

// ----------------------------------------------------------------------------
// Widget Retweeted styles
// ----------------------------------------------------------------------------
.mentioned {

  padding: 0;
  margin: 0 auto;

}
