{
  "global": {
    "parseVersion": "latest"
  },
  "applications": {
    "Tickle Dashboard": {
      "applicationId": "",
      "masterKey": ""
    },
    "_default": {
      "link": "Tickle Dashboard"
    }
  }
}